* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  text-align: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 196, 121);
  padding: 20px;
}

.iconosHeader {
  display: flex;
  list-style: none;
  font-size: 1rem;
}

.headerContainer .iconosHeader a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 1.2rem;
}

.headerContainer .iconosHeader a:hover {
  transform: translateY(1.3px);
}

.headerContainer h1 a {
  color: white;
  text-decoration: none;
}

.iconosHeader li {
  margin-right: 10px;
}

.icono-carro span ion-icon {
  font-size: 1.5rem;
}

.icono-carro span .ant-scroll-number {
  font-size: 10px;
  height: 16px;
  min-width: 16px;
  line-height: 16px;
}

.contenedor {
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}

.card .card-btn {
  margin-top: 10px;
  border: none;
  
}
.card .ant-card-actions li span .card-btn a:hover {
  color: #00C479;
}
.card .card-precio div{
  color: #8F8F9F;
  font-weight: 100;
}

.card button a {
  color: white;
}

.Contenedor-carro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.Contenedor-carro p {
  margin: 10px 0px;
}

.Contenedor-carro button {
  border-radius: 5px;
  padding: 10px 15px;
  border: 0px;
  background-color: #00C479;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

.Contenedor-carro button:hover {
  transform: translateY(1px);
}